*{
    margin: 0;
    padding: 0;
}
body{
    background: #6994c5;
}
.container {
    background:rgba(255,255,255,0.15); 
    box-shadow: 0px 8px 32px 0 rgba(31,38,135,0.37);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color:#fff;
}
#stopwatch{
    font-size: 100px;
    box-shadow: 0px 10px 10px  rgba(0,0,0,0.2);
    padding: 10px;
    color:#fff;
    border-radius: 10px;
    margin-bottom: 10px;
   
}
#buttons{
    display: flex;
}
button{
    padding: 20px;
    background:rgba(255,255,255,0.15);   
    border:1px solid rgba(255,255,255,0.18);
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    margin: 10px;
    width:100px;
    box-shadow: 0px 8px 32px 0 rgba(31,38,135,0.37);
    transition: all 0.5s;
    text-transform: uppercase;
    font-weight: 500;
    
}
button:hover{
    cursor:pointer;
}
button:active{
    box-shadow: none;
    transition: all 0.5;
}